*{
    margin: 0;
    padding: 0;
}
.body{
    background: url("img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
}
#highScoreBox{
    position: absolute;
    top: 59px;
    right: 200px;
    font-size: 39px;
}
#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 25px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 25px;
}

.keypad{
    display: none;
}
@media screen and (max-width:800px) {
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #board{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .keypad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 200px;
        margin: 10px 40px;
      }
      
      .keypad button {
        font-size: 24px;
        padding: 10px;
      }
      
      .up{
        grid-column: 2;
      }
      .down{
        grid-column: 2;
        grid-row: 2;
      }
      .left, .right {
        grid-row: 2;
      }
      #highScoreBox{
        position: absolute;
        top: 35px;
        right: 20px;
        font-size: 25px;
      }
      #scoreBox{
        position: absolute;
        top: 35px;
        right: 275px;
        font-size: 25px;
      }
      
}